body{
  font-family: josefin-slab, serif;
  font-weight:lighter;
  margin:0;
  padding:0;
}
a, a:hover{
  text-decoration:none;
}
header{
  background: url("../img/robots.png") repeat transparent;
  color:white;
}
header{
  padding:2em 1em;
}
footer{
  background-color:#191919;
  color:white;
  font-size:0.8em;
  padding:1em;
}
section h2{
  border-bottom:1px solid #f65d3f;
  padding:.8em 0em;
  color:#f65d3f;
}
section p{
  font: 16px 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}
i[class*="icon-"]{
 margin:0 0.4em;
}
.clearfix{
  clear:both;
}
.scroll-text{
  animation: scrolltext 6s;
  -webkit-animation: scrolltext 6s; /* Safari and Chrome */
  overflow:hidden; 
  white-space: nowrap;
  width:30em;
  color:lime;
}
.icon-stack .icon-stack-base, .icon-stack i{
  margin:0;
}
.icon-stack i:nth-child(1), .icon-stack i:nth-child(2){
  transition:color .5s;
  -webkit-transition:color .5s;
}
.icon-stack i:nth-child(1){
  color:white;
}
.icon-stack i:nth-child(2), .know-more-link:hover .icon-stack i:nth-child(2), .know-more-link:hover .icon-stack i:nth-child(2){
  color:black;
}
.icon-stack:hover i:nth-child(2), .know-more-link:hover .icon-stack i:nth-child(2), .know-more-link:hover .icon-stack i:nth-child(2){
  color:white;
}
.icon-stack:hover .star, .know-more .know-more-link:hover .icon-stack .star {
  color: #a8cb17;
}
.icon-stack:hover .file-text, .know-more .know-more-link:hover .icon-stack .file-text {
  color:#FAAA00;
}
.icon-stack:hover .github {
  color:black;
}
.icon-stack:hover .twitter {
  color:#00aced;
}
.icon-stack:hover .mail {
  color:#d14836;
}
.icon-stack:hover .linkedin {
  color:#0077b5;
}
.icon-stack:hover .flickr {
  color:#ff0084;
}
.centered{
  text-align:center;
}
@keyframes scrolltext
{
  0%   {width:0;}
  100%   {width:30em;}
}
@-webkit-keyframes scrolltext /* Safari and Chrome */
{
  from{width:0;}
}
.header-contact div{
  font-size:4.4em;
}
.know-more p{
  font-size:2.2em;
  cursor:pointer;
}
.know-more .know-more-link{
  transition:all .5s;
  -webkit-transition:all .5s;
}
.know-more .know-more-link a{
  color:black;
}
.know-more .know-more-link:hover.star a{
  color:#a8cb17;
}
.know-more .know-more-link:hover.file-text a{
  color:#FAAA00;
}
.skills div{
  height:8em;
  width:9em;
}
.skills div p{
  height:6em;
  width:6em;
  text-align:center;
  line-height:5.8em;
  border-radius:6em;
  transition:all .5s;
  -webkit-transition:all .5s;
}
.skills div p.best{
  border:1px solid red;
  color:black;
}
.skills div p.medium{
  border:1px solid #F74A05;
  color:black;
}
.skills div:hover p.best, .skills div:hover p.medium{
  color:white;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}
.skills div:hover p.best{
  background-color:red;
}
.skills div:hover p.medium{
  background-color:#F74A05;
}
